@font-face {
    font-family: 'Matter';
    src: url('Matter-Medium.woff2') format('woff2'),
        url('Matter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

