@font-face {
    font-family: 'medea quatro';
    src: url('medeaquatro-Regular.woff2') format('woff2'),
        url('medeaquatro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

