@font-face {
    font-family: 'Sora Variable';
    src: url('SoraVariable-Regular.woff2') format('woff2'),
        url('SoraVariable-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

